extends layout

block content

  h1(class='text-center') Delete: #{company.name}
  p &nbsp;

  if games_developed.length || games_published.length || platforms_developed.length
    div(class='container')
      h3(class='text-center') Delete the following items associated with #{company.name} first.
      p &nbsp;

      if games_developed.length
              h3 Games developed by #{company.name}
              each game in games_developed 
                  ul(class="list-group")
                      a(href=game.url class='list-group-item list-group-item-action') #{game.name}
      p &nbsp;
      if games_published.length
              h3 Games published by #{company.name}
              each game in games_published
                  ul(class="list-group")
                      a(href=game.url class='list-group-item list-group-item-action') #{game.name}
      p &nbsp;
      if platforms_developed.length
              h3 Platforms developed by #{company.name}
              each platform in platforms_developed
                  ul(class="list-group")
                      a(href=platform.url class='list-group-item list-group-item-action') #{platform.name}
      p &nbsp;


  else
      form(method='POST' class='text-center')
        h3 You cannot undo this!
        div.form-group
          input#companyid.form-control(type='hidden', name='companyid', value=company._id )

        button.btn.btn-primary(type='submit' class='btn btn-danger btn-lg') Delete #{company.name}