extends layout

block content

  div(class='container')
    h1(class='text-center') Delete #{rating.name} 
        p &nbsp;
    if games_with_rating.length
        h2(class='text-center') Delete or Update these games first to remove them from the #{genre.name} genre
        each game in games_with_rating 
            ul(class="list-group")
                a(href=game.url class='list-group-item list-group-item-action') #{game.name}


    else
        form(method='POST' class='text-center')
            h3 You cannot undo this!
            div.form-group
                input#ratingid.form-control(type='hidden', name='ratingid', value=rating._id )

            button.btn.btn-primary(type='submit' class='btn btn-danger btn-lg') Delete #{rating.name}