extends layout 

block content 
    div(class='container')
        h1(class='text-center')=title 
        h2(class='text-center')=rating.desc
        p &nbsp;
        if games_by_age_rating.length 
            h3 Games rated #{rating.acronym} for #{rating.name}.
            each game in games_by_age_rating 
                ul(class="list-group")
                    a(href=game.url class='list-group-item list-group-item-action') #{game.name}
        else
            h3(class="text-center") No games in database rated #{rating.name}.

        div(class="d-flex justify-content-around")
            a(href=rating.url+'/update' class='btn btn-primary') Update rating 
            a(href=rating.url+'/delete' class='btn btn-danger') Delete rating 