extends layout

block content

  h1 Delete: #{rating.name}

  if games_with_rating.length

    h2 Delete the following items associated with #{rating.name} first.

        h3 Games with a #{rating.acronym} for #{rating.name} age rating.
        ul
            each game in games_with_rating 
                li
                    a(href=game.url) #{game.name}


  else
    h5 Press button below to delete #{rating.name} rating.
        form(method='POST')
            div.form-group
                input#ratingid.form-control(type='hidden', name='ratingid', value=rating._id )

            button.btn.btn-primary(type='submit') Delete