extends layout

block content
  h1(class='text-center')= title

  if gameinstance_list.length
    div(class="container")
        table(class="table table-hover table-bordered table-responsive")
            thead 
                tr 
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") Status
                    th(scope="col") Due Date 
                    th(scope="col") Store ID 
            tbody
                each copy, index in gameinstance_list 
                    tr
                        th(scope="col") #{index}
                        th(scope="col") 
                          a(href=copy.url) #{copy.videogame.name}
                        th(scope="col")
                          if copy.status=='Available'
                            span.text-success #{copy.status}
                          else if copy.status=='Maintenance'
                            span.text-danger #{copy.status}
                          else
                            span.text-warning #{copy.status}
                        th(scope="col")
                          if copy.status!=='Available'
                            span #{copy.due_back_formatted}
                          else
                            span At Store
                        th(scope='col') #{copy.storeid}


  else
    p There are no game copies in this database.