extends layout

block content
    div(class='container')
        h1(class='text-center')= title

        form(method='POST')
            div(class="row mb-3").form-group
                label(for='name' class="col-sm-2 col-form-label") Title:
                input#name.form-control(type='text', placeholder='Name of Video Game' name='name' required value=(undefined===game ? '' : game.name) )
            div(class="row mb-3").form-group
                label(for='ESRB' class="col-sm-2 col-form-label") ESRB Age Rating: 
                select#ESRB.form-control(name='ESRB', class="form-select" required)
                    option(value='') --Please select a rating--
                    for rating in ratings
                        if game
                            if rating._id.toString()===game.ESRB._id.toString()
                                option(value=rating._id selected) #{rating.name}
                            else
                                option(value=rating._id) #{rating.name}
                        else
                            option(value=rating._id) #{rating.name}
            div(class="row mb-3").form-group
                label(for='release_date' class="col-sm-2 col-form-label") Release Date:
                input#release_date.form-control(type='date' name='release_date' value=(undefined===game ? '' : game.release_date) )
            div(class="row mb-3").form-group
                label(for='developer' class="col-sm-2 col-form-label") Game Developer:
                select#developer.form-control(name='developer', class="form-select" required)
                    option(value='') --Please select a company--
                    for developer in companies
                        if game
                            if developer._id.toString()===game.developer._id.toString()
                                option(value=developer._id selected) #{developer.name}
                            else
                                option(value=developer._id) #{developer.name}
                        else
                            option(value=developer._id) #{developer.name}   
            div(class="row mb-3").form-group
                label(for='publisher' class="col-sm-2 col-form-label") Game Publisher:
                select#publisher.form-control(name='publisher', class="form-select" required)
                    option(value='') --Please select a company--
                    for publisher in companies
                        if game
                            if publisher._id.toString()===game.publisher._id.toString()
                                option(value=publisher._id selected) #{publisher.name}
                            else
                                option(value=publisher._id) #{publisher.name}
                        else
                            option(value=publisher._id) #{publisher.name}
            div(class="row mb-3").form-group
                label(class="col-sm-2 col-form-label") Platform:
                div(class="btn-group" role="group" aria-label="Basic checkbox toggle button group")
                    for platform in platforms
                        div
                            if platform.checked
                                input.checkbox-input(type='checkbox', class="btn-check", name='platform', autocomplete='on', id=platform._id, value=platform._id, checked)
                            else
                                input.checkbox-input(type='checkbox', class="btn-check", name='platform', id=platform._id, value=platform._id)
                                label(for=platform._id, class="btn btn-outline-dark") #{platform.name}
            div(class="row mb-3").form-group
                label(class="col-sm-2 col-form-label") Genre:
                div(class="btn-group" role="group" aria-label="Basic checkbox toggle button group")
                    for genre in genres
                        div
                            if genre.checked
                                input.checkbox-input(type='checkbox', class="btn-check", name='genre', autocomplete='on', id=genre._id, value=genre._id, checked)
                            else
                                input.checkbox-input(type='checkbox', class="btn-check", name='genre', id=genre._id, value=genre._id)
                                label(for=genre._id, class="btn btn-outline-dark") #{genre.name}
            div(class="row mb-3").form-group
                label(for='desc' class="col-sm-2 col-form-label") Description:
                input#desc.form-control(type='text', rows="3" placeholder='Summary of Video Game' name='desc' required value=(undefined===game ? '' : game.desc) )
            button.btn.btn-primary(type='submit') Submit

            if errors
                ul
                for error in errors
                    li!= error.msg