extends layout

block content

    h1 #{title}

    form(method='POST')
        div.form-group
            label(for='videogame') Video Game:
            select#videogame.form-control(name='videogame' required)
                option(value='') --Please select a Video Game--
                    for game in game_list
                        if gameinstance
                            if game._id.toString()===gameinstance.videogame._id.toString()
                                option(value=game._id selected) #{game.name}
                            else
                                option(value=game._id) #{game.name}
                        else
                            option(value=game._id) #{game.name}
        div.form-group
            label(for='platform') Platform:
            select#platform.form-control(name='platform' required)
                option(value='') --Please select a Platform that your game is on--
                    for platform in platform_list
                        if gameinstance
                            if platform._id.toString()===gameinstance.platform._id.toString()
                                option(value=platform._id selected) #{platform.name}
                            else
                                option(value=platform._id) #{platform.name}
                        else
                            option(value=platform._id) #{platform.name}
        div.form-group
            label(for='storeid') Store ID:
            input#storeid.form-control(type='text', placeholder='Store ID' name='storeid' required value=(undefined===gameinstance ? '' : gameinstance.storeid) )
        div.form-group
            label(for='due_back') Date when book available:
            input#due_back.form-control(type='date' name='due_back' value=(undefined===gameinstance ? '' : gameinstance.due_back_yyyy_mm_dd))
        
        div.form-group
            label(for='status') Status:
            select#status.form-control(name='status' required)
                option(value='') --Please select a status--
                each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
                    if undefined===gameinstance || gameinstance.status!=val
                        option(value=val)= val
                    else
                        option(value=val selected)= val
        button.btn.btn-primary(type='submit') Submit
    
    if errors
        ul
        for error in errors
            li!= error.msg
