extends layout 

block content 
    div(class='container')
        h1(class='text-center')=title 
        if genre_games.length 
            h3 Games in #{genre.name} genre
            each game in genre_games 
                ul(class="list-group")
                    a(href=game.url class='list-group-item list-group-item-action') #{game.name}
        else
            h3 No games in #{title} genre.

        div(class="d-flex justify-content-around")
            a(href=genre.url+'/update' class='btn btn-primary') Update genre 
            a(href=genre.url+'/delete' class='btn btn-danger') Delete genre 