extends layout 

block content 
    h1(class='text-center')= title
    if genre_list.length 
        table(class="table table-hover table-responsive")
            thead 
                tr 
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") Database ID
            tbody
                each genre, index in genre_list 
                    tr
                        th(scope="col") #{index}
                        th(scope="col") 
                            a(href=genre.url) #{genre.name}
                        th(scope="col") #{genre._id}
    else
        p There are no genres in database.