extends layout

block content
  div(class='container')
    h1= title
    p Welcome to the Blockstop Inventory Manager. Please look below for an overview of your database.

    h1 Database information 

    p The database currently has the following record counts: 

    div(class='list-group')
      a(class='list-group-item list-group-item-action' href='/catalog/videogames') #[strong Video Games:] !{game_count}
      a(class='list-group-item list-group-item-action' href='/catalog/gameinstances') #[strong Game Copies:] !{game_instance_count}
      a(class='list-group-item list-group-item-action') #[strong Available Game Copies:] !{game_instance_available_count}
      a(class='list-group-item list-group-item-action' href='/catalog/companies') #[strong Companies:] !{company_count}
      a(class='list-group-item list-group-item-action' href='/catalog/platforms') #[strong Platforms:] !{platform_count}
      a(class='list-group-item list-group-item-action' href='/catalog/genres') #[strong Genres:] !{genre_count}
      a(class='list-group-item list-group-item-action' href='/catalog/ESRBRatings') #[strong Age Ratings:] !{rating_count}
