extends layout 

block content 
    h1= title 
    ul 
        li Platform developed by: 
            a(href=platform.developer.url) #{platform.developer.name}
        li Games on platform: 
            if games_on_platform.length && platform.name != "PlayStation 3" 
                ul
                    each game in games_on_platform
                        li
                            a(href=game.url) #{game.name}
            else 
                ul 
                    li The #{platform.name} has no games.