extends layout 

block content 
    h1= title 
    ul 
        if platform.release_date != null 
            li Platform developed by: 
                a(href=platform.developer.url) #{platform.developer.name}
            li Release Date: #{platform.release_date_formatted}
        else 
            li Platform under development by: 
                a(href=platform.developer.url) #{platform.developer.name}
        li Games on platform: 
            if games_on_platform.length && platform.name != "PlayStation 3" 
                ul
                    each game in games_on_platform
                        li
                            a(href=game.url) #{game.name}
            else 
                ul 
                    li The #{platform.name} has no games.

    hr
    p
        a(href=platform.url+'/delete') Delete platform
    hr
    p
        a(href=platform.url+'/update') Update platform
