extends layout

block content
  div(class='container')
    h1(class='text-center')=title

    form(method='POST')
      div(class="row mb-3").form-group
        label(for='name' class="col-sm-2 col-form-label") Name:
        input#name.form-control(type='text', placeholder='Famicom, Genesis, N-Gage, Xbox, ect.' name='name' required value=(undefined===platform ? '' : platform.name) )
      div(class="row mb-3").form-group
        label(for='release_date' class="col-sm-2 col-form-label") Release Date:
        input#release_date.form-control(type='date', placeholder='12/26/1995' name='release_date' value=(undefined===platform ? '' : platform.release_date) )
      div(class="row mb-3").form-group
        label(for='developer' class="col-sm-2 col-form-label") Platform Developer:
        select#developer.form-control(name='developer' class="form-select" required)
          option(value='') --Please select a company--
          for developer in developers
            if platform
              if developer._id.toString()===platform.developer._id.toString()
                option(value=developer._id selected) #{developer.name}
              else
                option(value=developer._id) #{developer.name}
            else
              option(value=developer._id) #{developer.name}   
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg