extends layout

block content

  h1(class='text-center') Delete: #{platform.name}
    p &nbsp;

  if games_on_platform.length

    h3(class='text-center') Delete or Update the following games associated with #{platform.name} first.

    div(class="container")
        table(class="table table-hover table-bordered table-responsive")
            thead 
                tr 
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") Developer
                    th(scope="col") Publisher
            tbody
                each game, index in games_on_platform 
                    tr
                        th(scope="col") #{index}
                        th(scope="col") 
                            a(href=game.url) #{game.name}
                        th(scope="col") 
                            a(href=game.developer.url) #{game.developer.name} 
                        th(scope="col")
                            a(href=game.publisher.url) #{game.publisher.name}


  else
        form(method='POST' class='text-center')
            h3 You cannot undo this!
            div.form-group
                input#platformid.form-control(type='hidden', name='platformid', value=platform._id )

            button.btn.btn-primary(type='submit' class='btn btn-danger btn-lg') Delete #{platform.name} from Database